In [11]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from linear_model import LinearRegression as my_model

In [12]:
data = pd.read_csv(r"E:\Machine Learning\my course\new\5- Implementing multiple Regression\real_data.csv")
data

         price     size  year
0   234314.144   643.09  2015
1   228581.528   656.22  2009
2   281626.336   487.29  2018
3   401255.608  1504.75  2015
4   458674.256  1275.46  2009
..         ...      ...   ...
95  252460.400   549.80  2009
96  310522.592  1037.44  2009
97  383635.568  1504.75  2006
98  225145.248   648.29  2015
99  274922.856   705.29  2006

[100 rows x 3 columns]

In [13]:
X = data[["size", "year"]]
y = data["price"]

In [16]:
model = my_model()
model.fit(X,y)
model.score(X,y)
model.betas

array([-5.77226702e+06,  2.27700854e+02,  2.91678533e+03])

In [21]:
model = LinearRegression()
model.fit(X,y)
model.score(X,y)
model.coef_

array([ 227.70085401, 2916.78532684])

In [22]:
model.intercept_

-5772267.017463279